---
import Layout from '../layouts/BlogPost.astro';
const title = 'About Me';
const description = 'Learn more about me and my journey with ADHD.';
---

<Layout
	title={title}
	description={description}
	pubDate={new Date('January 10 2024')}
	heroImage="/2024-01-04.jpg"
>

<div class="container">
<h2>Hi, I'm André!</h2>
<p>I'm a Brazilian currently living in Canada. I'm married and a proud father of two amazing boys, Lucas and Angelo. As a freelance web developer, I'm passionate about creating innovative digital experiences.</p>
<p>Living with ADHD has been a part of my journey since forever. It's a challenge I navigate daily, shaping how I approach work and life.</p>
<p>I decided to create this blog as a way to share my experiences and lessons learned during my personal and professional journey in overcoming the challenges of my labyrinth. It's also a platform for me to study and learn more about this condition that affects so many people today.</p>
<p>To get a deeper insight into my journey, follow me on Instagram and Twitter. Let's connect and explore together!</p>
</div>
</Layout>
