---
---
<style>
  img {
    display: block;
    width: 100px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="/public/ariadne's (100 x 100 px).svg" width="75" height="75" />
</a>