---
import { SITE_TITLE } from '../consts';
---
<div class="title-container"><h2><a href="/">{SITE_TITLE}</a></h2>
</div>
<style>
  h2 {
		margin: 0;
		font-size: 2em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
</style>